
/media/images/characters_large_16x16.png
/.idea
/media/images/characters
/media/images/tiles
/smash_and_grab.exe
/smash_and_grab.log
/smash_and_grab.log
/saves
/.yardoc
/doc
/config/levels/*.sgl.json
/pkg